@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    box-sizing: border-box;
}
.body{
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.bg{
    border-radius: 20px 20px 0px 0px;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
}

.top{
    position: relative;
    width: 400px;
    height: 400px;
}

.status-bar__left{
    position: absolute;
    left : 20px;
    top: 10px;
}

.status-bar__right{
    position: absolute;
    right : 40px;
    top: 10px;
}

.header__left{
    position: absolute;
    left : 20px;
    top: 60px;
}

.header__right{
    position: absolute;
    right : 40px;
    top: 60px;
}

.arrow{
    text-decoration: none;
    color:black;
}

.m-icons{
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    margin-right: 30px;
    position: absolute;
    top: 280px;
    right:0px;

}

.plus{
    width: 50px;
    height: 50px;
    background-color: #3F67FF;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color:white;
    margin-right: 10px;
}

.plus2{
    padding-top: 10px;
}

.tags{
    position: absolute;
    top: 380px;
    left: 50px;
    display: flex;
    z-index: 1;
}

.tags__tag{
    width: 65px;
    height: 20px;
    background-color: #B5BCE0;
    color:blue;
    border-radius: 10px 10px 10px 0px;
    font-size: 10px;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
    padding-top: 7px;
}

.main{
    background-color: #F0F0F0;
    padding: 0px;
    margin: 0px;
    width: 400px;
    height: 350px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.title__like{
    margin-right: 20px;
    color:red;
}

.location{
    display: flex;   
    margin-left: 10px;
}

.location__i{
    color:blue;
    margin-right: 10px;
}

.location__lo, .rating__distance, .overview__ov{
    opacity: 0.6;
}

.rating{
    display: flex;
    justify-content: space-between;
    padding:15px;
}

.rating__L{
    color:#FFB85C;
}

.rating__point{
    color:black;
    font-weight: bold;
}

.overview__des{
    font-size: 15px;
}

.more{
    text-decoration: none;
    color:blue;
    font-weight: bold;
}


.handles{
    background-color: #3A5FCD;
    height: 65px;
    width: 65px;
    text-align: center;
    color: white;
    border-radius: 30px;
    position: relative;
    padding-top: 15px;
    left: 170px;
    font-size: 30px;

}

.nav{
    background-color: whitesmoke;
    height: 100px;
    width: 400px;
    border-radius: 0px 0px 20px 20px;
    
}

.nav__items{
    display: flex;
    justify-content: space-between;
    padding:30px;
    opacity: 0.6;
    font-size: 25px;
}

.globe{
    color:blue;
    opacity: 1;
}

.underbar{
    width: 20px;
    padding:25px;
    border-bottom: 5px black solid;
    opacity: 0.5;
}
