@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #f9fafc;
  display: flex;
  justify-content: center;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
  font-size: 12px;
  color: #010d3c;
  font-weight: 600;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: red;
  }

  .phone {
    margin-top: 50px;
    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 40px;
    box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
      30px 30px 40px rgba(118, 146, 180, 0.18);
    overflow: hidden;
    padding: 20px;
  }
  
  .background {
    width: 100%;
    height: 100%;
    background: rgb(241, 242, 246);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
  }
  
  .header__tops{
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      /* margin-top: 25px;
       */
      padding:15px;
  }

  .header__bottoms{
      display: flex;
      justify-content: space-between;
  }

  .header__bottom{
      text-decoration: none;
  }

  .main__tops{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-right: 20px; */
  }

  .main__tops .main__top {
      width: 120px;
      height: 75px;
      background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2018/9/26/0/FNK_Tuscan-Chicken-Skillet_H2_s4x3.jpg.rend.hgtvcom.826.620.suffix/1537973085542.jpeg");
      background-size: cover;
      text-align: center;
      color: white;
      font-size: 15px;
      margin-right: 20px;
  }